/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"),
    url("/fonts/rubik-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rubik-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), local("Rubik-Medium"),
    url("/fonts/rubik-v9-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rubik-v9-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  background-color: hsl(0, 0%, 96%);
}

.text-center {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 500;
  line-height: 1.2;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
}

@media (max-width: 360px) {
  body {
    font-size: 12px;
  }
}

.header {
  margin-bottom: 1.875rem;
}
